<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>HomePage</title>
</head>


<body>

<div class="container">
    <div class="jumbotron text-center" >
        <h1>Hello , welcome back to animal home</h1>
        <p>here you can see many kinds of animals </p>
        <button type="button" class="btn btn-default text-info" onclick="location.href='/HomePage'" > Home </button>
        <button type="button" class="btn btn-default" onclick="location.href='/SearchAnimal'">Search</button>
        <button type="button" class="btn btn-default" onclick="location.href='/AddAnimal'">Add Animal</button>
        <button type="button" class="btn btn-default" onclick="location.href='/AdoptApply'">Adopt</button>
        <button type="button" class="btn btn-default" onclick="location.href='/'">Logout</button>
    </div>
</div>

<div class="container" style="padding-bottom: 5%">
    <div class="row">
        <div class="col-4 text-center" >
            <h5>Animal Number: <%=input[6]._id%></h5>
            <a href="https://www.google.co.uk/"><img src="/images/kitten3.jpeg"  class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>
            <h6>Species: <%=input[6].species%></h6>
            <h6>Gender: <%=input[6].gender%></h6>
            <h6>Color Number: <%=input[6].color%></h6>
            <h6>Breeds: <%=input[6].breeds%></h6>
            <h6>Location: <%=input[6].location%></h6>
            <h6>Date of birth: <%=input[6].birth%></h6>
        </div>
        <div class="col-4 text-center" >
            <h5>Animal Number: <%=input[7]._id%></h5>
            <a href="https://www.google.co.uk/"><img  src="/images/kitten4.jpeg" class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>

            <h6>Species: <%=input[7].species%></h6>
            <h6>Gender: <%=input[7].gender%></h6>
            <h6>Color Number: <%=input[7].color%></h6>
            <h6>Breeds: <%=input[7].breeds%></h6>
            <h6>Location: <%=input[7].location%></h6>
            <h6>Date of birth: <%=input[7].birth%></h6>

        </div>
        <div class="col-4 text-center" >
            <h5>Animal Number: <%=input[8]._id%></h5>
            <a href=""><img  src="/images/kitten5.jpeg" class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>
            <h6>Species: <%=input[8].species%></h6>
            <h6>Gender: <%=input[8].gender%></h6>
            <h6>Color Number: <%=input[8].color%></h6>
            <h6>Breeds: <%=input[8].breeds%></h6>
            <h6>Location: <%=input[8].location%></h6>
            <h6>Date of birth: <%=input[8].birth%></h6>

        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 5%">
    <div class="row">
        <div class="col-4 text-center">
            <h5>Animal Number: <%=input[9]._id%></h5>
            <a href="https://www.google.co.uk/"><img src="/images/kitten1.jpeg" class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>
            <h6>Species: <%=input[9].species%></h6>
            <h6>Gender: <%=input[9].gender%></h6>
            <h6>Color Number: <%=input[9].color%></h6>
            <h6>Breeds: <%=input[9].breeds%></h6>
            <h6>Location: <%=input[9].location%></h6>
            <h6>Date of birth: <%=input[9].birth%></h6>

        </div>

        <div class="col-4 text-center">
            <h5>Animal Number: <%=input[10]._id%></h5>
            <a href="https://www.google.co.uk/"><img src="/images/kitten1.jpeg" class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>
            <h6>Species: <%=input[10].species%></h6>
            <h6>Gender: <%=input[10].gender%></h6>
            <h6>Color Number: <%=input[10].color%></h6>
            <h6>Breeds: <%=input[10].breeds%></h6>
            <h6>Location: <%=input[10].location%></h6>
            <h6>Date of birth: <%=input[10].birth%></h6>

        </div>

        <div class="col-4 text-center">
            <h5>Animal Number: <%=input[11]._id%></h5>
            <a href="https://www.google.co.uk/"><img src="/images/kitten1.jpeg" class="img-responsive center-block" width="80%" height="50%" alt="a kitten"></a>
            <h6>Species: <%=input[11].species%></h6>
            <h6>Gender: <%=input[11].gender%></h6>
            <h6>Color Number: <%=input[11].color%></h6>
            <h6>Breeds: <%=input[11].breeds%></h6>
            <h6>Location: <%=input[11].location%></h6>
            <h6>Date of birth: <%=input[11].birth%></h6>
        </div>
    </div>
    <button type="button" class="btn btn-default text-info" style="float: right "  onclick="location.href='/HomePage'" > next page</button>
</div>

</body>
</html>